<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta aplicación necesita acceso a tu galería de fotos para que puedas seleccionar y editar imágenes.</string>
	<key>NSCameraUsageDescription</key>
	<string>Esta aplicación necesita acceso a la cámara para que puedas tomar fotos y editarlas.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Esta aplicación necesita permiso para guardar las fotos editadas en tu galería.</string>
	<key>UIAppFonts</key>
	<array>
		<string>dogicapixel.otf</string>
		<string>dogicapixelbold.otf</string>
		<string>Retrock.ttf</string>
		<string>Returns.ttf</string>
	</array>
</dict>
</plist>

